.home_body{
  position: absolute;
  margin-left: 20px;
  width: 100%;
}

.introSection{
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.413);
  border-radius: 20px;
  width: 40%;
  padding-bottom: 40px;
}

.homeTitle{
  font-weight: bold !important;
}

.homeTitle:hover{
  text-decoration: underline;
}

.introSecText{
  margin-left: 15px;
  margin-right: 5px;
}

.introSecButton{
  margin-top: 10px;
  border: white 1px solid;
}

.introSecButton:hover{
  box-shadow: 0 5px 15px #afe0f5;
  background-color: transparent;
}

.loginSection{
  margin-top: 20px;
  margin-left: 12px;
  background-color: #00000069;
  border-radius: 20px;
  width: 55%;
  height: fit-content;
  padding-bottom: 40px;
}

.loginSecText{
  margin-left: 15px;
  margin-right: 5px;
}